// ###############
// Custom styles #
// ###############

/* Custom styling classes. */

.text-bold {
    font-weight: bold !important;
}

.text-bolder {
    font-weight: bolder !important;
}

.text-italic {
    font-style: italic !important;
}

.text-oblique {
    font-style: oblique !important;
}

.text-overline {
    text-decoration: overline !important;
}

.text-line-through {
    text-decoration: line-through !important;
}

.text-underline {
    text-decoration: underline !important;
}

.text-font-size-small {
    font-size: 80% !important;
}

.text-font-size-medium {
    font-size: 90% !important;
}

.text-font-size-large {
    font-size: 110% !important;
}

.text-font-size-x-large {
    font-size: 120% !important;
}

.text-font-size-xx-large {
    font-size: 130% !important;
}

/* Class to center images */

.img-centered-container {
    text-align: center;
}

.img-centered-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
