// #########
// Imports #
// #########

@import "variable_overrides";
@import "bootswatch/dist/flatly/_variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/flatly/_bootswatch";
@import "new_rules";

// ###############
// Custom styles #
// ###############

/* Various tweaks */

div.boxed {
    border: #ecece7 solid 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1), 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.container h1,
.container .h1,
.container h2,
.container .h2 {
    border-bottom: 1px solid #e0e0dc;
}

/* pre tag tweaks */

.container pre {
    white-space: pre-wrap !important;
    background-color: #f8f8f8 !important;
    border-radius: 4px !important;
    border: 1px solid #ccc !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

